@{
    ViewData["Title"] = "About";
}

<h1 class="fs-2">@ViewData["Title"]</h1>
<hr class="divider-blue" />

<div class="row py-3 gx-5">
    <div class="col-12 col-md-6 col-lg-5">
        <div class="d-flex align-items-center justify-content-center h-100 bg-light">
            <img src="/images/intellitect-logo.svg" class="img-fluid" alt="IntelliTect Logo" style="height: 75px">
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-7 my-1">
        <div class="h3">
            Who We Are
        </div>
        <p>
            IntelliTect is a high-end software architecture and development consulting firm based in Spokane, Washington.
        </p>
        <p>
            At IntelliTect, we offer a full range of software and consulting services.
            Our passion for innovation manifests itself primarily in technology and software development.
        </p>
        <p>
            We provide high-end architecture consulting, full life-cycle software development, and training that enables our clients to solve their most challenging problems.
        </p>
        <div>
            <a class="btn btn-primary" href="https://intellitect.com/" target="_blank">Learn More About Intellitect</a>
        </div>
    </div>
</div>

<hr class="divider-light-blue" />

<div class="row gx-5">
    <div class="col-12 col-md-6 col-lg-5">
        <div class="d-flex align-items-center justify-content-center h-100">
            <img src="/images/book.png" class="img-fluid" style="height: 450px" alt="Essential C Sharp Book">
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-7 mt-3">
        <div class="h3">
            Essential C# Book
        </div>
        <p>
            Check out the interactive and comprehensive guide to the C# coding language to expand your development knowledge and enhance your skill set at your own pace. The site includes everything developers need to master C# and is an excellent tool for beginners to experts.
        </p>
        <div>
            <a class="btn btn-primary" href="https://a.co/d/95wxhTg" target="_blank">Get the Book</a>
        </div>

        <div class="quote">
            <div class="quote-content">
                <div class="quote-icon">
                    <i class="fa fa-solid fa-quote-left"></i>
                </div>
                <div class="quote-text">
                    Welcome to one of the most venerable and trusted franchises you could dream of in the world of C# books&mdash;and probably far beyond!
                </div>
            </div>
            <div class="quote-author">
                <strong>From the Foreword by Mads Torgersen</strong>
                <br />
                <i>C# Lead Designer, Microsoft</i>
            </div>
        </div>
    </div>
</div>
