@{
    ViewData["Title"] = "About";
}

<h1 class="fs-2">@ViewData["Title"]</h1>
<hr class="divider-blue" />

<div class="row">
    <div class="col-12 col-md-6 col-lg-4">
        <img src="/images/book.png"  class="img-fluid" alt="Essential C Sharp Book">
    </div>
    <div class="col-12 col-md-6 col-lg-8 mt-4">
        <div class="h3">
            Essential C# Book
        </div>
        <p>
            Check out the interactive and comprehensive guide to the C# coding language to expand your development knowledge and enhance your skill set at your own pace. The site includes everything developers need to master C# and is an excellent tool for beginners to experts.
        </p>
        <div>
            <a class="btn btn-primary" href="https://a.co/d/95wxhTg">get the book</a>
        </div>
    </div>
</div>
