@{
    ViewData["Title"] = "About";
}

<h1 class="fs-2">@ViewData["Title"]</h1>
<hr class="divider-blue" />

<div class="row">
    <div class="col-12 col-md-6">

    </div>
    <div class="col-12 col-md-6">
        <div class="h3">
            Essential C# Book
        </div>
        <p>
            A well-organized, no-fluff guide to C# for programmers at all experience levels.
        </p>
        <div>
            <button class="btn btn-primary">get the book</button>
        </div>
    </div>
</div>
