<div class="home-page home-title-underline">
    <img class="home-icon" src="../../images/icon_transparent.png" alt="Essential C#">
    <h1 class="home-title">Welcome to Essential C#</h1>
    <h3 class="home-author">Written by <span class="text-uppercase">Mark Michaelis</span></h3>
    <h3 class="home-author">with <span class="text-uppercase">Eric Lippert & Kevin Bost</span></h3>
    <div class="quote-block">
        <h3 class="home-quote">&quot;Welcome to one of the most venerable and trusted franchises you could dream of in the world of C# books&mdash;and probably far beyond!&quot;</h3>
        <div class="quote-author-block">
            <h3 class="home-quote-author">&mdash; From the Foreword by Mads Torgersen,</h3>
            <h3 class="home-quote-author">C# Lead Designer,</h3>
            <h3 class="home-quote-author">Microsoft</h3>
        </div>
    </div>

</div>
<h2 class="home-header text-uppercase">The comprehensive, expert guide to C# language programming</h2>
<p>Essential C# is a well-organized, no-fluff guide to C# for programmers at all levels of experience. Reflecting the most important C# features from 3.0 through 8.0 and including modern programming patterns, it will help you write code that&rsquo;s simple, powerful, robust, secure, and maintainable. World-class C# expert Mark Michaelis presents a complete tutorial and reference for the entire language, including expert coverage of key C# enhancements, C#&rsquo;s use with .NET Core/.NET Standard, and cross-platform compilation. He illustrates key C# constructs with succinct examples, and presents best-practice coding guidelines.</p>
<div class="home-page">
    <img class="mind-map" src="../../images/00mindmap.svg" alt="High Level Mind Map">
</div> 