@{
    ViewData["Title"] = "Terms Of Service";
}
<h1>@ViewData["Title"]</h1>
<br/>
<h2>What’s covered in these terms.</h2>
<br/>
<h3>We know it’s tempting to skip these Terms of Service, but it’s important to establish what you can expect from us as you use IntelliTect Products, and what we expect from you.</h3>
<br/>
<p>These are our terms of service...</p>
