@{
    ViewData["Title"] = "Terms Of Service";
}
<h1>@ViewData["Title"]</h1>
<br/>
<h2>What’s covered in these terms.</h2>
<br/>
<h3>We know it’s tempting to skip these Terms of Service, but it’s important to establish what you can expect from us as you use IntelliTect Products, and what we expect from you.</h3>
<br/>
<p>Acceptance of Terms</p>
<p>The following Terms of Service (&quot;TOS&quot;) apply to your use of the Essential C# website (<a href="https://essentialcsharp.com">https://essentialcsharp.com</a>), any associated sites or services. The team behind the Essential C# site (IntelliTect) reserves the right to update the TOS at any time without notice to you. The most current version of the TOS can be reviewed by clicking on the &quot;Terms of Service&quot; hypertext link located at the bottom of our Web pages.</p>
<br>
<p>Description of Service</p>
<p>Through the Essential C# website, IntelliTect, with permission from Addison-Wesley provides you with access to an online book about the .NET language C# with links to the GitHub repo (collectively the &quot;Services&quot;). The Services, including any updates, enhancements, new features, and/or the addition of any new Web properties, are subject to the TOS.</p>
<br>
<p>Personal and Non-Commercial Use Limitation</p>
<p>Unless otherwise specified, the Services are for your personal and non-commercial use. You may not modify, copy, distribute, transmit, publicly display, perform, reproduce, publish, license, create derivative works from, transfer or sell any information, software, products or services obtained from the Services (except for your own, personal, non-commercial use) without prior written consent from IntelliTect.</p>
<br>
<p>Privacy and Protection of Personal Information</p>
<p>Your privacy is important to us. Please read the <a href="https://intellitect.com/about/privacy-policy/">IntelliTect Privacy Statement</a> (the &quot;Privacy Statement&quot;) as it describes the types of data we collect from you and your devices, how we use that data, and the legal bases we have to process that data.</p>
<br>
<p>Notice Specific to Content Available on this Website</p>
<p>The content is Copyright @DateTime.Now.Year Addison-Wesley. Addison-Wesley gives permission to IntelliTect Corporation to publish and update the Essential C# series book. Users of the site may interact with content, but scraping, copying, distributing of the material is not allowed unless explicitly mentioned. Referenced source code listings may be copied from GitHub link or from the code panel by using the &ldquo;Open Code Sample&rdquo; button, when available. </p>
<br>
<p>Notice Specific to Documents Available on this Website</p>
<p>Certain documentation may be subject to explicit license terms separate from the terms contained here. To the extent the terms conflict, the explicit license terms control. Permission to use Documents (such as white papers, press releases, datasheets and FAQs) from the Services is granted, provided that (1) the below copyright notice appears in all copies and that both the copyright notice and this permission notice appear, (2) use of such Documents from the Services is for informational and non-commercial or personal use only and will not be copied or posted on any network computer or broadcast in any media, and (3) no modifications of any Documents are made. Any distribution requires express written permission. Unauthorized use is expressly prohibited by law, and may result in severe civil and criminal penalties. Violators will be prosecuted to the maximum extent possible.</p>
<br>
<p>Documents specified above do not include the design or layout of the essentialcsharp.com website or any other IntelliTect owned, operated, licensed or controlled site. This site is Copyright @DateTime.Now.Year IntelliTect Corporation.</p>
<br>
<p>Disclaimer and Limitation of Liability for the Services</p>
<p>INTELLITECT AND/OR ITS RESPECTIVE SUPPLIERS MAKE NO REPRESENTATIONS ABOUT THE SUITABILITY OF THE SERVICES OR THE SUITABILITY OF THE INFORMATION CONTAINED IN THE DOCUMENTS AND RELATED GRAPHICS PUBLISHED AS PART OF THE SERVICES FOR ANY PURPOSE. ALL SERVICES, DOCUMENTS AND RELATED GRAPHICS ARE PROVIDED &quot;AS IS&quot; WITHOUT WARRANTY OF ANY KIND. INTELLITECT AND/OR ITS RESPECTIVE SUPPLIERS HEREBY DISCLAIM ALL WARRANTIES AND CONDITIONS WITH REGARD TO THE SERVICES, INFORMATION AND RELATED GRAPHICS, INCLUDING ALL WARRANTIES AND CONDITIONS OF MERCHANTABILITY, WHETHER EXPRESS, IMPLIED OR STATUTORY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT.</p>
<br>
<p>THE DOCUMENTS AND RELATED GRAPHICS PUBLISHED ON THE SERVICES COULD INCLUDE TECHNICAL INACCURACIES OR TYPOGRAPHICAL ERRORS. CHANGES ARE PERIODICALLY ADDED TO THE INFORMATION HEREIN. INTELLITECT AND/OR ITS RESPECTIVE SUPPLIERS MAY MAKE IMPROVEMENTS AND/OR CHANGES IN THE PRODUCT(S) AND/OR THE PROGRAM(S) DESCRIBED HEREIN AT ANY TIME.</p>
<br>
<p>IN NO EVENT SHALL INTELLITECT AND/OR ITS RESPECTIVE SUPPLIERS BE LIABLE FOR ANY SPECIAL, INDIRECT OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THE SERVICES, SOFTWARE, DOCUMENTS, PROVISION OF OR FAILURE TO PROVIDE SERVICES, OR INFORMATION AVAILABLE FROM THE SERVICES.</p>
<br>
<p>No Unlawful or Prohibited Use</p>
<p>As a condition of your use of the Services, you will not use the Services for any purpose that is unlawful or prohibited by these terms, conditions, and notices. You may not use the Services in any manner that could damage, disable, overburden, or impair any IntelliTect server, or the network(s) connected to any IntelliTect server, or interfere with any other party&apos;s use and enjoyment of any Services. You may not attempt to gain unauthorized access to any Services, other accounts, computer systems or networks connected to any IntelliTect server or to any of the Services, through hacking, password mining or any other means. You may not obtain or attempt to obtain any materials or information through any means not intentionally made available through the Services.</p>
<br>
<p>Use of Services</p>
<p>The Services may contain e-mail services, bulletin board services, chat areas, news groups, forums, communities, personal web pages, calendars, photo albums, file cabinets and/or other message or communication facilities designed to enable you to communicate with others. You agree to use the Services only to post, send and receive messages and material that are proper and, when applicable, related to the particular Service. By way of example, and not as a limitation, you agree that when using the Services, you will not:</p>
<ul>
    <li>Use the Services in connection with surveys, contests, pyramid schemes, chain letters, junk email, spamming or any duplicative or unsolicited messages (commercial or otherwise).</li>
    <li>Defame, abuse, harass, stalk, threaten or otherwise violate the legal rights (such as rights of privacy and publicity) of others.</li>
    <li>Publish, post, upload, distribute or disseminate any inappropriate, profane, defamatory, obscene, indecent or unlawful topic, name, material or information.</li>
    <li>Upload, or otherwise make available, files that contain images, photographs, software or other material protected by intellectual property laws, including, by way of example, and not as limitation, copyright or trademark laws (or by rights of privacy or publicity) unless you own or control the rights thereto or have received all necessary consent to do the same.</li>
    <li>Use any material or information, including images or photographs, which are made available through the Services in any manner that infringes any copyright, trademark, patent, trade secret, or other proprietary right of any party.</li>
    <li>Upload files that contain viruses, Trojan horses, worms, time bombs, cancelbots, corrupted files, or any other similar software or programs that may damage the operation of another&apos;s computer or property of another.</li>
    <li>Advertise or offer to sell or buy any goods or services for any business purpose, unless the Services specifically allows such messages.</li>
    <li>Download any file posted by another user of a Service that you know, or reasonably should know, cannot be legally reproduced, displayed, performed, and/or distributed in such manner.</li>
    <li>Falsify or delete any copyright management information, such as author attributions, legal or other proper notices or proprietary designations or labels of the origin or source of software or other material contained in a file that is uploaded.</li>
    <li>Restrict or inhibit any other user from using and enjoying the Services.</li>
    <li>Violate any code of conduct or other guidelines which may be applicable for any particular Service.</li>
    <li>Harvest or otherwise collect information about others, including e-mail addresses.</li>
    <li>Violate any applicable laws or regulations.</li>
    <li>Create a false identity for the purpose of misleading others.</li>
    <li>Use, download or otherwise copy, or provide (whether or not for a fee) to a person or entity any directory of users of the Services or other user or usage information or any portion thereof. </li>
</ul>
<p>IntelliTect has no obligation to monitor the Services. However, IntelliTect reserves the right to review materials posted to the Services and to remove any materials in its sole discretion. IntelliTect reserves the right to terminate your access to any or all of the Services at any time, without notice, for any reason whatsoever.</p>
<br>
<p>IntelliTect reserves the right at all times to disclose any information as IntelliTect deems necessary to satisfy any applicable law, regulation, legal process or governmental request, or to edit, refuse to post or to remove any information or materials, in whole or in part, in IntelliTect&apos;s sole discretion.</p>
<br>
<p>Always use caution when giving out any personally identifiable information about yourself or your children in any Services. IntelliTect does not control or endorse the content, messages or information found in any Services and, therefore, IntelliTect specifically disclaims any liability with regard to the Services and any actions resulting from your participation in any Services. Managers and hosts are not authorized IntelliTect spokespersons, and their views do not necessarily reflect those of IntelliTect.</p>
<br>
<p>Materials uploaded to the Services may be subject to posted limitations on usage, reproduction and/or dissemination; you are responsible for adhering to such limitations if you download the materials.</p>
<br>
<p>The content might be in English only. If you click the links, you may be redirected to a U.S. website whose content is solely in English.</p>
<br>
<p>Materials Provided to IntelliTect or Posted to the Services</p>
<br>
<p>IntelliTect does not claim ownership of the materials you provide to IntelliTect (including feedback and suggestions) or post, upload, input or submit to any Services or its associated services for review by the general public, or by the members of any public or private community, (each a &quot;Submission&quot; and collectively &quot;Submissions&quot;). However, by posting, uploading, inputting, providing or submitting (&quot;Posting&quot;) your Submission you are granting IntelliTect, its affiliated companies and necessary sublicensees permission to use your Submission in connection with the operation of their Internet businesses (including, without limitation, all IntelliTect Services), including, without limitation, the license rights to: copy, distribute, transmit, publicly display, publicly perform, reproduce, edit, translate and reformat your Submission; to publish your name in connection with your Submission; and the right to sublicense such rights to any supplier of the Services.</p>
<br>
<p>No compensation will be paid with respect to the use of your Submission, as provided herein. IntelliTect is under no obligation to post or use any Submission you may provide and IntelliTect may remove any Submission at any time in its sole discretion.</p>
<br>
<p>By Posting a Submission you warrant and represent that you own or otherwise control all of the rights to your Submission as described in these Terms of Use including, without limitation, all the rights necessary for you to provide, post, upload, input or submit the Submissions.</p>
<br>
<p>In addition to the warranty and representation set forth above, by Posting a Submission that contain images, photographs, pictures or that are otherwise graphical in whole or in part (&quot;Images&quot;), you warrant and represent that (a) you are the copyright owner of such Images, or that the copyright owner of such Images has granted you permission to use such Images or any content and/or images contained in such Images consistent with the manner and purpose of your use and as otherwise permitted by these Terms of Use and the Services, (b) you have the rights necessary to grant the licenses and sublicenses described in these Terms of Use, and (c) that each person depicted in such Images, if any, has provided consent to the use of the Images as set forth in these Terms of Use, including, by way of example, and not as a limitation, the distribution, public display and reproduction of such Images. By Posting Images, you are granting (a) to all members of your private community (for each such Images available to members of such private community), and/or (b) to the general public (for each such Images available anywhere on the Services, other than a private community), permission to use your Images in connection with the use, as permitted by these Terms of Use, of any of the Services, (including, by way of example, and not as a limitation, making prints and gift items which include such Images), and including, without limitation, a non-exclusive, world-wide, royalty-free license to: copy, distribute, transmit, publicly display, publicly perform, reproduce, edit, translate and reformat your Images without having your name attached to such Images, and the right to sublicense such rights to any supplier of the Services. The licenses granted in the preceding sentences for a Images will terminate at the time you completely remove such Images from the Services, provided that, such termination shall not affect any licenses granted in connection with such Images prior to the time you completely remove such Images. No compensation will be paid with respect to the use of your Images.</p>
<br>
<p>Notices and Procedure for Making Claims of Copyright Infringement</p>
<br>
<p>Pursuant to Title 17, United States Code, Section 512(c)(2), notifications of claimed copyright infringement should be sent to Service Provider&apos;s Designated Agent. ALL INQUIRIES NOT RELEVANT TO THE FOLLOWING PROCEDURE WILL NOT RECEIVE A RESPONSE.</p>
<br>
<p>Links to Third-Party Sites</p>
<br>
<p>THE LINKS IN THIS SERVICE MAY LET YOU LEAVE INTELLITECT&apos;S SITE. THE LINKED SITES ARE NOT UNDER THE CONTROL OF INTELLITECT AND INTELLITECT IS NOT RESPONSIBLE FOR THE CONTENTS OF ANY LINKED SITE OR ANY LINK CONTAINED IN A LINKED SITE, OR ANY CHANGES OR UPDATES TO SUCH SITES. INTELLITECT IS NOT RESPONSIBLE FOR WEBCASTING OR ANY OTHER FORM OF TRANSMISSION RECEIVED FROM ANY LINKED SITE. INTELLITECT IS PROVIDING THESE LINKS TO YOU ONLY AS A CONVENIENCE, AND THE INCLUSION OF ANY LINK DOES NOT IMPLY ENDORSEMENT BY INTELLITECT OF THE SITE.</p>
<br>
<p>Reservation of Rights and Feedback</p>
<br>
<p>Except as expressly provided under these TOS, IntelliTect does not grant you a license or any other rights of any type under any patents, know-how, copyrights, trade secrets, trademarks or other intellectual property owned or controlled by IntelliTect or any related entity, including but not limited to any name, trade dress, logo or equivalents. If you give to IntelliTect any idea, proposal, suggestion or feedback, including without limitation ideas for the Services, new products, technologies, promotions, product names, product feedback and product improvements (&quot;Feedback&quot;), you give to IntelliTect, without charge, royalties or other obligation to you, the right to make, have made, create derivative works, use, share and commercialize your Feedback in any way and for any purpose. You will not give Feedback that is subject to a license that requires IntelliTect to license its software, technologies or documentation to any third party because IntelliTect includes your Feedback in them.</p>