version: 2
registries:
  nuget-azure-artifacts:
    type: nuget-feed
    url: https://pkgs.dev.azure.com/intelliTect/_packaging/EssentialCSharp/nuget/v3/index.json
    username: ${{secrets.AZURE_DEVOPS_PAT_USERNAME}}
    password: ${{secrets.AZURE_DEVOPS_PAT}}
updates:
  - package-ecosystem: "nuget" # See documentation for possible values
    directory: "/" # Location of package manifests
    registries:
      - nuget-azure-artifacts
    schedule:
      interval: "daily"
      time: "03:00"
      timezone: "America/Los_Angeles"

  - package-ecosystem: "github-actions" # See documentation for possible values
    directory: "/" # Location of package manifests
    schedule:
      interval: "weekly" 

  - package-ecosystem: "docker"
    # Look for a `Dockerfile` in the `root` directory
    directory: "/EssentialCSharp.Web/"
    # Check for updates once a week
    schedule:
      interval: "weekly"
