.dropbox
Thumbs.db
desktop.ini
OldManuscriptRepoOnGithub
EssentialCSharpManuscript.[0-9]
.vs/
obj
bin
~$*.do[ct]x
~*.tmp
~$*.dotm

!.gitignore
!.gitattributes
!EssentialC#.dotx
!*.mmap
!*.ps1
!Figures/
!Slides/
!Michaelis_Ch*.docx
!Michaelis_App*.docx
!Michaelis_Preface.docx
!Michaelis_Bio.docx
!Michaelis_AboutIntelliTect.docx
!Michaelis_Dedication.docx
!Michaelis_AbtAuthor.docx
!Michaelis_Acknowledgments.docx
!Michaelis_Forward.docx
!Michaelis_TableOfContents.docx

*.user

Utilities/Parser.Web/.local-chromium

# Local History for Visual Studio Code
.history/

# Visual Studio code coverage results
*.coverage
*.coveragexml
Utilities/EssentialCSharp.Web/wwwroot/Chapters/

#JetBrains Rider IDE Settings
*/.idea/

Utilities/EssentialCSharp.Web/Chapters/

Utilities/EssentialCSharp.Web/wwwroot/sitemap.xml

Utilities/EssentialCSharpUtilities.lutconfig
