    .search-window {
        width: 325px;
        min-width: 325px;
        height: 80vh;
        padding-top: 20px;
    }

    .search-window .input {
        background: #FFFFFF;
        border: 1px solid #7E7D7E;
        border-radius: 2px;
        height: 28px;
        width: 265px;
        margin: 5px;
    }

    .search-window .input .search-btn {
        background: #095540;
        height: 26px;
        width: 29px;
        float: right;
        border: none;
    }

    .search-window .icon-color {
        color: #ffffff;
    }

    .search-window input {
        border: none;
    }

    .search-window input:focus {
        outline: none;
    }

    .sidebar {
        width: 325px;
        min-width: 325px;
        height: 100%;
    }

    .toc-menu {
        color: black;
        background-color: white;
    }

    .toc-tree {
        padding-top: 20px;
    }

    .toc-label {
        color: black;
        background-color: white;
        text-align: left;
        font-size: 16px;
        font-family: 'Palatino Linotype';
        margin-top: 5px;
        cursor: pointer;
        border: none;
    }

    .bottom-border {
        color: black;
        border-bottom: 2px solid;
        border-right-width: 0px;
        border-left-width: 0px;
        border-top-width: 0px;
        cursor: pointer;
    }

    .toc-content {
        color: black;
        text-align: left;
        padding-left: 25px;
        font-family: 'Palatino Linotype';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        cursor: pointer;
    }

    .toc-list {
        list-style-type: none;
        padding-left: 20px;
        margin: 0;
    }

    .sidebar .hide {
        display: none
    }

    .link-hide {
        visibility: hidden
    }

    .tree {
        margin-left: -25px;
        --spacing: 1.6rem;
    }

    .tree li {
        list-style: none;
        position: relative;
        padding-left: 0px;
    }

    .tree ul li {
        line-height: 100%;
        margin-top: 5px;
        margin-bottom: 5px;
        padding-left: 20px;
        border-left: 2px solid #414042;
    }

    .tree ul li:last-child {
        border-color: transparent;
    }

    .tree ul {
        margin-left: 8px;
        padding-left: 0;
    }

    .tree summary {
        display: block;
        cursor: pointer;
    }

    .tree summary:focus {
        outline: none;
    }

    .tree summary:focus-visible {
        outline: 1px dotted #000;
    }

    .tree ul li::before {
        content: '';
        display: block;
        position: absolute;
        top: calc(var(--spacing) / -2);
        left: -2px;
        width: 18px;
        height: calc(var(--spacing) + 1px);
        border: solid #414042;
        border-width: 0 0 2px 2px;
    }

    .tree li::after,
    .tree summary::before {
    }

    .tree summary::before {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        width: 10px;
        height: 10px;
        border-bottom: 2px solid;
        border-right: 2px solid;
        transform: rotate(45deg);
        left: 4px;
        top: 5px;
        background-color: white;
        z-index: 1;
    }

    .tree details[open] > summary::before {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        width: 10px;
        height: 10px;
        border-bottom: 2px solid;
        border-right: 2px solid;
        transform: rotate(-135deg);
        left: 4px;
        top: 10px
    }

    .section-link {
        font-family: 'Palatino Linotype';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        text-decoration: none;
        color: black;
    }

    .current-section {
        font-weight: bold;
        text-decoration: none;
        color: #0077cc;
    }

    .layout {
        display: grid;
        scroll-padding-top: 60px;
        grid-template-columns: 325px auto;
        scroll-padding-bottom: 45px;
    }

    .medium-padding {
        padding: 15px;
    }

    .min-padding {
        padding: 5px;
    }

    .banner {
        background: #095540;
        height: 60px;
        display: flex;
        justify-content: space-between;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 5;
    }

    .banner .nav-btn {
        color: white;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        text-decoration: none;
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
    }

    .right {
        margin-right: auto;
    }

    .banner-main-label {
        font-family: 'Palatino Linotype';
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 5px;
        margin-left: 25px;   
    }

    .banner-main-label-center {
        margin-right: 5px;
        margin-left: 5px;
        overflow: clip;
    }

    .banner-section-label {
        font-family: 'Palatino Linotype';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        margin-top: 9px;
        margin-right: 5px;
        margin-left: 5px;
        overflow: clip;
        min-width: fit-content
    }

    span.underline {
        font-size: 20px;
        text-decoration: underline;
    }

    .header-height {
        height: 60px;
        width: 100%;
        top: 0;
    }

    .book-content {
        width: auto;
    }

    .link-color {
        color:#0077cc;
    }

    .dense-footer {
        position:relative;
        bottom: 0;
        width: 100%;
        white-space: nowrap;
        line-height: 40px;
    }

    .dense-footer > .dense-footer-content {
        margin-left: 25px;
    }