@using Microsoft.AspNetCore.Identity
@using EssentialCSharp.Web.Areas.Identity.Data

@inject SignInManager<EssentialCSharpWebUser> SignInManager
@inject UserManager<EssentialCSharpWebUser> UserManager

<div class="menu-tooltip text-nowrap">
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="menu-tooltip">
            <a id="manage" class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
        </div>
        <div class="menu-tooltip">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-light border-0">
                    <i class="fa fa-right-from-bracket icon-light"></i>
                    Logout
                </button>
            </form>
        </div>
    }
    else
    {
        <div class="menu-tooltip">
            <a class="nav-link text-light" id="login" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-right-to-bracket icon-light"></i> Login</a>
        </div>
    }
</div>
