name: Ping Google About Updated Sitemap
on:
  push:
    branches: [ main ]
    # Only trigger if our content package (and potentially the sitemap) is changed
    # since our .csproj currently contains the reference to the content package
    paths:
      - EssentialCSharp.Web/EssentialCSharp.Web.csproj
  workflow_dispatch:
jobs:
  ping-google:
    name: Ping Google
    runs-on: ubuntu-latest
    environment:
      name: 'Production'

    steps:
      - name: Send HTTP GET request to Google
        # https://developers.google.com/search/docs/crawling-indexing/sitemaps/build-sitemap
        # https://www.google.com/ping?sitemap=FULL_URL_OF_SITEMAP
        run: curl http://www.google.com/ping?sitemap=https://essentialcsharp.com/sitemap.xml
